<% wrap_layout :layout do %>
	<div class="mainContain">
		<%= partial "blog_sidebar" %>
		<div class="blogMain">
			<div class="blogArticle" itemscope itemtype="http://schema.org/Article">
				<article>
					<div class="blogArticleTitle">
					<h2 itemprop="name"><%= current_article.title %></h2><time <meta itemprop="datePublished"><%= current_article.date.strftime('%b %e, %Y') %></time>
					</div>
					<div class="blogArticleText" itemprop="articleBody">
						<%= yield %>
					</div>
					<% if current_article.tags %>
						<h3>
							<div class="tagIconFull">
								<div class="tagIconSubSquare"></div>
								<div class="tagIconSubTriangle"></div>
							</div>
							<% current_article.tags.each do |tagname| %>
								<a href="<%= tag_path(tagname) %>"><%= tagname %></a>
				            <% end %>
				        </h3>
				    <% end %>
		  		</article>
		  		<span itemprop="author" itemscope itemtype="http://schema.org/Person"> <meta itemprop="name" content="Benjamin Ghaemmaghami"></span>
			</div>
		</div>
	</div>
<% end %>