<!doctype html>
<html>
	<!-- Benjami Ghaemmaghami V1.0 -->
	<!-- GitHub: https://github.com/benghaem/web-portfolio -->
	<head>	
	<meta charset="utf-8">
	
	<!-- Always force latest IE rendering engine or request Chrome Frame -->
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	
	<!-- Use title if it's in the page YAML frontmatter -->
	<title> <%=current_page.data.title || yield_content(:title) || "Tag: " + tagname%> - Ben Ghaem</title>
	<!-- Load CDN JQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!-- Load Favicon -->
	<link rel="icon" type="image/png" href="http://benghaem.com/favicon.png">
	<!-- Load Google Webfonts -->
	<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
	<!-- Load local scripts/styles -->
	<%= stylesheet_link_tag "normalize", "main", "prism" %>
	<%= javascript_include_tag  "prism", "script" %>
	<!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.benghaem.com/";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', 1]);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
	    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();

	</script>
	<noscript><p><img src="http://analytics.benghaem.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
	<!-- End Piwik Code -->
  	</head>
  	<script>
		WebFont.load({
		    google: {
		    	families: ['Oxygen']
	    		}
		});
	</script>
	<body class="<%= page_classes %>">
		<div class="modalBlackout"><span>close</span></div>
		<div class="modalHelper"></div>
		<div class="effectContain">
			<div class="naviToggle <%= current_page.data.colorClass %>">
				<div class="naviMiddle">
					<a href="http://www.benghaem.com">ben ghaem</a>
					<ul>
						<li data-color="1"><a href="/">home</a></li> |
						<li data-color="3"><a href="/projects/">projects</a></li> |
<!-- 						<li data-color="5"><a href="/testbed/">test bed</a></li > | -->
						<li data-color="4"><a href="/blog/">blog</a></li>
					</ul>
				</div>
			</div>
				<%= yield %>
			<div class="footer">
				<div class="footerButtonHold">
					<div class="footerButton contactOpen">contact</div>
					<!-- <a href="/cv/"><div class="footerButton">curriculum vitae</div></a> -->
					<a href="https://github.com/benghaem/web-portfolio" class="githubFooterButton"><div class="footerButton">github repo</div></a>
				</div>
				<ul>
					<li data-color="1"><a href="/"> home</a></li> |
					<li data-color="3"><a href="/projects/"> projects</a></li> |
<!-- 					<li data-color="5"><a href="/testbed/"> test bed</a></li > | -->
					<li data-color="4"><a href="/blog/"> blog</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>