<% wrap_layout :layout do %>
	<div class="mainContain">
		<div class="projectHeader">
				<div class="projectTitle">
					<h2><%=current_page.data.fullTitle%></h2>
				</div>
				<% if current_page.data.liveProject != false %>
					<a href="raw/"><div class="projectPageButton">Live Project</div></a>
				<% end %>
				<div class="projectInfo">
					<h3>Date: <%=current_page.data.date%> | Type: <%=current_page.data.type%></h3>
				</div>
		</div>
		<div class="projectText">
			<%= yield %>
		</div>
		<div class="projectSidebar">
			<% if Dir.exists?("source"+current_page.url+"/img") == true %>
				<% Dir.foreach("source"+current_page.url+"/img") do |imgEach| next if imgEach == '.' or imgEach == '..' %>
					<%="<img src='img/#{imgEach}' onclick=createModal('','#{imgEach}','','image','img/#{imgEach}')></img>"%>
				<% end %>
			<% end %>
		</div> 
  	</div>
<% end %>
