---
title: Blog
colorClass: CCmutedGreen
pageable: true
per_page: 8
---
<div class="mainContain">
  <%= partial "blog_sidebar" %>
	<div class="blogMain">
		<h2>Recent Posts:</h2>
		<% page_articles.each do |article| %>
			<article>
				<div class="blogArticle">
					<div class="blogArticleInfo">
						<div class="blogArticleInfoOverlay">
						 	<h2>
								<a href="<%= article.url %>"><%= article.title %></a>
							</h2>
						</div>
						<% if article.data.headerImg == true %>
						<a href="<%= article.url %>" class="blogArticleInfoImgWrap">
							<img src="img/<%= article.date.strftime('%Y-%m-%d') %>.jpg" class="slidingImgWrapLoc<%= article.data.imgWrapLoc || 50%>"></img>
						<% end %>
						</a>
					</div>
					<h3><time><%= article.date.strftime('%b %e, %Y') %></time></h3>
					<div class="blogPreview">
						<p>
						<%= article.summary %>
						</p>
						<a href="<%= article.url %>">...Continue Reading</a>
					</div>
					<div class="blogArticleTags">
						<h3>
						<div class="tagIconFull">
							<div class="tagIconSubSquare"></div>
							<div class="tagIconSubTriangle"></div>
						</div>
						<% article.tags.each do |tagname| %>
					 		<a href="<%= tag_path(tagname) %>"><%= tagname %></a>
					 	<% end %>
						</h3>
					</div>
				</div>
			</article>
		<% end %>
		<div class="blogPageSelect">
			<div class="blogPre">
				<% if paginate %>
					<% if prev_page %>
						<%= link_to 'Previous', prev_page %>
					<% end %>
				<%end %>
			</div>
			<div class="blogCurrent">
				<% if paginate && num_pages > 1 %>
					<span><%= page_number %> / <%= num_pages %></span>
				<% end %>
			</div>
			<div class="blogNext">
				<% if paginate %>
					<% if next_page %>
					<%= link_to 'Next', next_page %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

