---
title: Blog
colorClass: CCmutedGreen
pageable: true
per_page: 8
---
<div class="mainContain">
  <%= partial "blog_sidebar" %>
	<div class="blogMain">
		<h2>Recent Posts:</h2>
		<% page_articles.each do |article| %>
			<%= partial "blog_article_load", locals: { article: article }%>
		<% end %>
		<div class="blogPageSelect">
			<div class="blogPre">
				<% if paginate %>
					<% if prev_page %>
						<%= link_to 'Previous', prev_page %>
					<% end %>
				<%end %>
			</div>
			<div class="blogCurrent">
				<% if paginate && num_pages > 1 %>
					<span><%= page_number %> / <%= num_pages %></span>
				<% end %>
			</div>
			<div class="blogNext">
				<% if paginate %>
					<% if next_page %>
					<%= link_to 'Next', next_page %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

