---
pageable: true
per_page: 8
colorClass: CCmutedGreen
---

<% c = case page_type
        when 'day' 
            Date.new(year, month, day).strftime('%b %e %Y')
        when 'month'
            Date.new(year, month, 1).strftime('%b %Y')
        when 'year'
            Date.new(year).strftime('%Y')
        end %>
<%content_for(:title, "Archive: " + c)%>
<div class="mainContain">
    <%= partial "blog_sidebar" %>
  <div class="blogMain">
<h2>Archive for
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h2>
  <% page_articles.each_with_index do |article, i| %>
      <%= partial "blog_article_load", locals: { article: article }%>
  <% end %>
<div class="blogPageSelect">
    <div class="blogPre">
      <% if paginate %>
        <% if prev_page %>
          <%= link_to 'Previous', prev_page %>
        <% end %>
      <%end %>
    </div>
    <div class="blogCurrent">
      <% if paginate && num_pages > 1 %>
        <span><%= page_number %> / <%= num_pages %></span>
      <% end %>
    </div>
    <div class="blogNext">
      <% if paginate %>
        <% if next_page %>
        <%= link_to 'Next', next_page %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>