---
pageable: true
per_page: 8
colorClass: CCmutedGreen
---
<% c = case page_type
        when 'day' 
            Date.new(year, month, day).strftime('%b %e %Y')
        when 'month'
            Date.new(year, month, 1).strftime('%b %Y')
        when 'year'
            Date.new(year).strftime('%Y')
        end %>
<% content_for(:title, "Archive: " + c) %>
<div class="mainContain">
    <%= partial "blog_sidebar" %>
  <div class="blogMain">
<h2>Archive for
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h2>
  <% page_articles.each_with_index do |article, i| %>
      <%= partial "blog_article_load", locals: { article: article }%>
  <% end %>
  <%= partial "blog_paginate", locals: { paginate: paginate, prev_page: prev_page, num_pages: num_pages, page_number: page_number, next_page: next_page } %>
</div>
</div>