---
pageable: true
per_page: 8
colorClass: CCmutedGreen
---

<% c = case page_type
        when 'day' 
            Date.new(year, month, day).strftime('%b %e %Y')
        when 'month'
            Date.new(year, month, 1).strftime('%b %Y')
        when 'year'
            Date.new(year).strftime('%Y')
        end %>
<%content_for(:title, "Archive: " + c)%>
<div class="mainContain">
    <%= partial "blog_sidebar" %>
  <div class="blogMain">
<h2>Archive for
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h2>
  <% page_articles.each_with_index do |article, i| %>
    <article>
        <div class="blogArticle">
          <div class="blogArticleInfo">
            <div class="blogArticleInfoOverlay">
              <h2>
                <a href="<%= article.url %>"><%= article.title %></a>
              </h2>
                <h3><time><%= article.date.strftime('%b %e, %Y') %></time></h3>
            </div>
            <img src="<%= article.data.headerImg || 'img/600x150.gif' %>"></img>
          </div>
          <div class="blogArticleTags">
            <h3>
            <div class="tagIconFull">
              <div class="tagIconSubSquare"></div>
              <div class="tagIconSubTriangle"></div>
            </div>
            <% article.tags.each do |tagname| %>
              <a href="<%= tag_path(tagname) %>"><%= tagname %></a>
            <% end %>
            </h3>
          </div>
          <div class="blogPreview">
            <p><%= lorem.paragraph %>
            <%= article.summary %>
            </p>
            <a href="<%= article.url %>">...Continue Reading</a>
          </div>
        </div>
      </article>
   <!--  <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li> -->

  <% end %>
<div class="blogPageSelect">
    <div class="blogPre">
      <% if paginate %>
        <% if prev_page %>
          <%= link_to 'Previous', prev_page %>
        <% end %>
      <%end %>
    </div>
    <div class="blogCurrent">
      <% if paginate && num_pages > 1 %>
        <span><%= page_number %> / <%= num_pages %></span>
      <% end %>
    </div>
    <div class="blogNext">
      <% if paginate %>
        <% if next_page %>
        <%= link_to 'Next', next_page %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>